body {
    background-color: #e1e1e3
  }
  
  .title{
    padding: 16px;
    width: 100%;
    margin-bottom: 0.5rem;
  
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    
    background-color: #242438;
    color: #d3d3d6;
    box-shadow: 0px 3px 8px #00000050;
  }
  
  .product-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 75%;
    padding: 4rem 2rem;
  
    background-color: #121214;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #000000
  }
  
  .product-form .input {
    display: flex;
    flex-direction: column;
    gap:0.25rem;
  
    color: #f3f3f4;
  }
  
  .product-form .input input {
    padding: 0.75rem;
  
    border:0;
    outline: 0;
  
    background-color: #252528;
    color: #f3f3f4;
  }
  
  .product-form .add-product-button {
    margin-top: 1rem;
    padding: 0.5rem;
  
    border:0;
    outline: 0;
  
    font-size: 0.75rem;
    font-weight: bold;
  
    color: white;
    background-color: #009400;
    transition: all 250ms;
    cursor: pointer;
  }
  
  .product-form .add-product-button:hover {
    scale: 102%;
    background-color: #00a300;
  }